@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$sidebarWidth: 270px;

#root {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}



.navigation {
    width: $sidebarWidth;
    height: 100%;
    padding-bottom: 1rem;
}

.nav {
    &-item {
        .submenu {
            .nav-link {
                padding: 6px 0 6px 15px;
                margin: 0 10px;

                &.active,
                &:hover {
                    background: transparent;
                    color: #20d6a9 !important;
                }
            }
        }
    }

    &-link {
        color: #fff !important;
        font-size: 14px !important;

        &.active,
        &:hover {
            color: #20d6a9 !important;
            background: transparent !important;
        }

        &.active {
            position: relative;

            &::after {
                position: absolute;
                top: 50%;
                right: 0;
                content: '';
                height: 20px;
                border: 2px solid #20d6a9;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
            }
        }

        .fa-angle-right {
            transition: all .4s ease;
            -webkit-transition: all .4s ease;
            -moz-transition: all .4s ease;
            -ms-transition: all .4s ease;
            -o-transition: all .4s ease;
        }

        &[aria-expanded="true"] {
            color: #20d6a9 !important;

            .fa-angle-right {
                transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
            }

        }

    }
}

.sidebar {
    width: $sidebarWidth;
}

.admin-container {
    position: relative;
    background: #fff;
}

.dashboard-content {
    width: calc(100% - $sidebarWidth);
    left: $sidebarWidth;
    background-color: #eef2f6;
}

input {
    background-color: #fafafa !important;
    font-size: 14px !important;
}

.btn {
    height: 45px;
    display: inline-flex !important;
    align-items: center !important;
    border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -ms-border-radius: 4px !important;
    -o-border-radius: 4px !important;
}

p {
    margin: 0 !important;
}


.card {

    .item {
        &-icon {
            width: 60px;
            height: 60px;
            font-size: 16px;
            background: #20d6a9;
        }

        &-data {
            span {
                font-size: 36px;
                line-height: 1;
            }

            .title {
                font-size: 18px;
            }
        }
    }

}



table {
    tr {
        th {
            background-color: #20d6a9 !important;
            padding: 1.2rem 1.2rem !important;
            color: #fff !important;
            font-weight: 600;
            text-transform: capitalize;
            font-size: 18px;
        }

        td {
            padding: 1rem 1.2rem !important;
        }
    }

    .user-img {
        width: 55px;
        height: 55px;
        object-position: top;
        object-fit: cover;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    }
}