@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$sidebarWidth: 330px;

#root {
    font-family: "Poppins", sans-serif;
    font-weight: 400;

}

.navigation {
    top: 95px;
    width: $sidebarWidth;
}

.nav {
    &-item {
        .submenu {
            .nav-link {

                &.active,
                &:hover {
                    background: transparent !important;
                    color: #673ab7 !important;
                }
            }
        }
    }

    &-link {
        color: #000 !important;

        &.active,
        &:hover {
            background: #673ab7 !important;
            color: #fff !important;
        }

        .fa-angle-right {
            transition: all .4s ease;
            -webkit-transition: all .4s ease;
            -moz-transition: all .4s ease;
            -ms-transition: all .4s ease;
            -o-transition: all .4s ease;
        }

        &[aria-expanded="true"] {
            background: #673ab7;
            color: #fff !important;

            .fa-angle-right {
                transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
            }

        }

    }
}

.sidebar {
    width: $sidebarWidth;
}

.admin-container {
    position: relative;
    background: #fff;
}

.dashboard-content {
    width: calc(100% - $sidebarWidth);
    left: $sidebarWidth;
    background-color: #eef2f6;
}

input {
    background-color: #fafafa !important;

    &:focus{
        outline: 1px solid red !important;
    }
}